.select-item {
	width: 28%;
	margin: 5px 20px 0 0;
}

#field-state,
#field-city,
#field-zip {
	width: 100%;
	border: 1px solid #ddd;
}

#savesZip .inside {
	overflow: hidden;
}

.inside .add-zip-code {
	margin: 25px 0 0 0;
	text-align: right;
}

.wrap-selects {
	overflow: inherit;
}

#wrapZips {
	width: 98%;
	margin: 0 auto;
}

#poststuff .zipRow {
	display: none;
	width: 100%;
	height: 60px;    	  
	background: #fff;
	border: 1px solid #ddd;
	margin: 10px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.row {
	width: 27%;
	height: 40px;
	line-height: 40px;
	text-align: center;;
	float: left;
	margin: 9px 13px;
	border: 1px solid #ddd;
}

.name-tag {
	width: 20%;
	float: left;
	padding: 0 15px;
	color: #303030;
	background: #F4F2F2;
	border-right: 1px solid #ddd;
}

.row .value-tag {
	width: 67%;
	float: left;
	padding: 10px;
	color: #303030;
	border: none;
	background: #fff;
	text-align: center;
}

#poststuff .zipRow .del-zip-code,
#delSavedRow {
	height: 40px;
	margin: 10px;
	text-align: right;
}

#wpbody-content .save-select {
	height: 30px;
	margin: 5px 0 0 3px;
}

.select-item {
	position: relative;
	display: inline-block;
}

.select-item i {
  display: block;
  font-weight: 500;
  font-size: 1.1em;
  padding: 0 0 2px 3px;
  color: #0E5166;
}

.wait {
	position: absolute;
	left: 0;
	right: 0;
	top: -5px;
	display: none;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	background: url('../img/ajax-loader.gif') no-repeat 50% 50%;
	z-index: 10;
}

.zip-row {
	width: 100%;
	height: 60px;    	  
	background: #fff;
	border: 1px solid #ddd;
	margin: 10px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/* inputs in settings */

/*input[type=checkbox] {
	height: 30px;
	width: 30px;
	margin: 10px;
	border-radius: 8px;
}

input[type=checkbox]:checked:before {
	margin: 15px 0 0 -25px;
	font: 400 75px/0 dashicons;	
}*/
